<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserHookApplicationId</key>
	<string>56967f1ac77995982377e9a4</string>
	<key>UserHookApplicationKey</key>
	<string>0cdb480db922fd332cac3702bbc5b07216b22e43</string>
</dict>
</plist>
